<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
    <title>ACP Controle Times</title>

    <!-- 'viewport' is used by bootstrap to respond to device size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Javascript:  JQuery from a content distribution network (CDN) -->
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>

    <!-- Bootstrap includes javascript and css  (must follow jquery) -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    </script>

    <!-- moment.js is the JavaScript equivalent of arrow.py -->
    <script
            src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

<!-- Our own style sheet -->
<link rel="stylesheet" href="/static/css/calc.css"/>

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

    <h1>ACP Brevet Times</h1>
    <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

    <!--
    -- If there are any warnings or other messages from a prior
    -- request to the server,
    -- they appear above the rest of the content, just until the next
    -- action.  (This is only on request/response transactions that
    -- result in regenerating the page, not on every xmlhttp request.)
    -->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Design on bootstrap grid -->
    <form role="form">
        <div class="row">
            <div class="col-md-4">
                <label>Distance</label>
                <select name="distance" id="brevet_dist_km">
                    <option value="200">200km</option>
                    <option value="300">300km</option>
                    <option value="400">400km</option>
                    <option value="600">600km</option>
                    <option value="1000">1000km</option>
                </select>
            </div> <!-- columns 1--4  -->
            <div class="col-md-6">
                <label>Begins at</label>
                <input type=date name="begin_date" id="begin_date" value="2017-01-01"/>
                <input type=time name="begin_time" id="begin_time" value="00:00"/>
            </div> <!-- columns 5-10 -->
        </div> <!-- row -->

        <br/>  <!-- Cosmetic -- a little vertical space -->
        <!-- Although we do not use tables for general page layout, they are
             appropriate for something that really is a table, like this
             one.  We allocate it the full 12 columns of the bootstrap grid.
        -->
        <div class="row">
            <div class="col-md-12">
                <table class="control_time_table">
                    <tr>
                        <th> Miles</th>
                        <th> Km</th>
                        <th>Location</th>
                        <th>Open</th>
                        <th>Close</th>
                        <th>Notes</th>
                    </tr>
                    {% for row in range(20) %}
                        <tr class="control">
                            <!-- Dist (mi) -->
                            <td><input name="miles" type="number"
                                       min="0" max="900" size="5"/></td>
                            <!-- Dist (km) -->
                            <td><input name="km" type="text"
                                       min="0" max="1100" size="5"/></td>
                            <!-- Location (optional) -->
                            <td><input name="location" type="text"
                                       placeholder="Optional location name"
                                       size="20"/></td>
                            <!-- Open time (read only, set by JavaScript function -->
                            <td><input name="open" type="datetime" value="" readonly/></td>
                            <!-- Close time (read only, set by JavaScript function -->
                            <td><input name="close" type="datetime" value="" readonly/></td>
                            <!-- Notes (error messages for this row) -->
                            <td class="notes"> &nbsp;</td>
                        </tr>
                    {% endfor %}
                </table>
            </div> <!-- col -->
        </div><!-- row -->
    </form>

    <div>
        <div style="float: left">
            <button id="submit" type="button" formtarget="times_form">Submit</button>
        </div>
        <div style="float: none">
            <button id="display" type="button" onclick="window.open('brevet')">Display</button>
        </div>
    </div>

    <script type="text/javascript">

        var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";

        // Pass calctimes a <td> element containing the data for a control.
        // It extracts the distance and calls the server to get times to
        // fill in open and close times in a human-readable format.
        // (If we want to also keep the ISO-formatted times, we'll need to
        // stash them in hidden fields.)
        function calc_times(control) {
            var km = control.find("input[name='km']").val();
            var open_time_field = control.find("input[name='open']");
            var close_time_field = control.find("input[name='close']");
            // get time, date, and distance
            var distance = $("#brevet_dist_km").val();
            var time = $("#begin_time").val();
            var date = $("#begin_date").val();

            $.getJSON(TIME_CALC_URL, {km: km, dist: distance, time: time, date: date},
                // response handler
                function (data) {
                    var times = data.result;
                    console.log("Got a response: " + times);
                    console.log("Response.open = " + times.open);
                    open_time_field.val(moment(times.open).format(" M/D H:mm"));      //display open time
                    close_time_field.val(moment(times.close).format(" M/D H:mm"));    //display close time
                    var note = control.find("td[class='notes']");
                    note.html(data.result.error_msg);    //Get error message, display in Notes

                } // end of handler function
            );// End of getJSON
        }

        async function submit_times() {
            let data = new URLSearchParams();
            var distance = $("#brevet_dist_km").val();
            var date = $("#begin_date").val();
            var time = $("#begin_time").val();
            data.append("distance", distance);
            data.append("date", date);
            data.append("time", time);

            var miles_list = document.getElementsByName("miles");
            var km_list = document.getElementsByName("km");
            var location_list = document.getElementsByName("location");
            var open_list = document.getElementsByName("open");
            var close_list = document.getElementsByName("close");
            //var notes_list = document.getElementsByName("notes");
            var control_time_list = [];
            for (var i = 0; i < miles_list.length; i++) {
                if (miles_list[i].value === "" || km_list[i].value === "") {
                    continue;
                }
                control_time_list.push({
                    "miles": miles_list[i].value,
                    "km": km_list[i].value,
                    "location": location_list[i].value,
                    "open": open_list[i].value,
                    "close": close_list[i].value,
                    //"notes": notes_list[i].innerText
                });
            }
            data.append("control_time_list", JSON.stringify(control_time_list));

            await fetch(SCRIPT_ROOT + "/new", {
                method: "POST",
                body: data
            }).then(response => response.json())
                .then(res => {
                    console.log(res);
                    if (res.success) {
                        alert("success");
                    } else {
                        alert(res.error);
                    }
                })
        }

        $(document).ready(function () {
            // Do the following when the page is finished loading

            $('input[name="miles"]').change(
                function () {
                    var miles = parseFloat($(this).val());
                    var km = (1.609344 * miles).toFixed(1);
                    console.log("Converted " + miles + " miles to " + km + " kilometers");
                    var control_entry = $(this).parents(".control")
                    var target = control_entry.find("input[name='km']");
                    target.val(km);
                    // Then calculate times for this entry
                    calc_times(control_entry);
                });

            $('input[name="km"]').change(
                function () {
                    var km = parseFloat($(this).val());
                    var miles = (0.621371 * km).toFixed(1);
                    console.log("Converted " + km + " km to " + miles + " miles");
                    var control_entry = $(this).parents(".control")
                    var target = control_entry.find("input[name='miles']");
                    target.val(miles);
                    // Then calculate times for this entry
                    calc_times(control_entry);
                });

            let submit_btn = document.getElementById("submit");
            submit_btn.onclick = function () {
                submit_times();
            }

            let display_btn = document.getElementById("display")
            //display_btn.onclick =

        });   // end of what we do on document ready

    </script>

</div>
</body>
</html>
